<% provide(:title, 'Help') %>
		<h1>Help</h1>
		<p>
			Get help on the Ruby on Rails Tutorials at the
			<a href="https://railstutorial.org/help">Rials Tutorial help page</a>.
			To get help on this smaple app, see the
			<a heref="http://railstutorial.org/book">Rails Tutorial book</a>.
		</p>
